/.qtc_clangd
/build
/debug
/release
/Makefile.Debug
/Makefile.Release
/.qmake.stash
/Makefile
/AnyPlay.pro.user
/object_script.AnyPlay.Debug
/object_script.AnyPlay.Release
/bin/win64/debug/AnyPlay.exe
/bin/win64/debug/UsersADMINI~1AppDataLocalTemp2tmphvgidm7o
/bin/win64/debug/UsersADMINI~1AppDataLocalTemp2tmpi6w5lkjc
/bin/win64/debug/UsersADMINI~1AppDataLocalTemp2tmpqcm9upv4
/bin/win32/debug/*.exe
/bin/win32/release/*.exe
/bin/win64/release/*.exe
/bin/win64/debug/Log/*.txt
/bin/win64/release/Log/*.txt
/bin/win64/debug/*.ilk
/bin/win64/debug/*.pdb
